$navbarColor: rgb(255, 46, 111);
$navbarPadding: .3em;
$footerFontSize: .8em;
$userListMargin: 2rem;
$userImgSize: 70px;
$viewIconMargin: .5rem;
$iconSize: 1.7rem;
$defaultPadding: .5rem;
$femaleColor: #ffe0e4;